<div class="container">
  <div class="row">
    <div class="col text-center">
      <h3>
        <!-- <i class="material-icons">Koszyk</i> -->
        Twój koszyk zakupów
      </h3>
    </div>
  </div>
  <br />
  <div *ngIf="cart" class="row">
    <div class="col text-center">
      <h5>
        Wszystkich produktów : {{itemCount}}
        <p *ngIf="cart" class="">{{cart.amountTotal | toZloty}} </p>
      </h5>
    </div>
  </div>
</div>
<br />
<div class="container">
  <div class="row">
    <div class="col text-center">
      <a> <button class="btn btn-success w-100" [attr.disabled]="itemCount === 0 ? true : null" routerLink="/checkout">Przejdź do
        zakupu</button></a>
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
      or
    </div>
  </div>
  <div class="row">
    <div class="col text-center mb-4">
      <button type="button" class="btn btn-danger btn-sm w-100" (click)="emptyCart()"
        [attr.disabled]="itemCount === 0 ? true : null">
        Opróżnij koszyk
      </button>
    </div>
  </div>
</div>
