<div *ngIf="products" class="mt-3 container-fluid">
  <div class="row">
    <div class="col-md-8">
      <h3>Najlepsze części samochodowe w kraju</h3>

      <label>Wybierz kategorie
        <select class="custom-select" (input)="changeCat($event)">
          <option *ngFor="let cat of categories" value="{{cat}}">{{cat | translate}}</option>
        </select>
      </label>

      <ul class="list-unstyled">
        <li *ngFor="let product of productsCat" class="container">
          <div class="card mt-3">
            <div class="row">

              <div class="col-md-4 text-center my-2" >
                <img [src]="product.link" class="product_image" />
              </div>
              <div class="col-md-8 prod-descript d-flex align-content-between flex-column  ">
                <h4 class="mt-2 ml-2 d-flex justify-content-between">
                  <span class="font-weight-bold">{{product.name}}</span>
                  <small class="product_price mr-2">{{product.price | toZloty}} </small>
                </h4>
                <p>{{product.description}}</p>
                <!-- <p>
                <span class="font-weight-bold">ingredients:</span>
                <br/>
                <span *ngFor="let ingredient of product.ingredients ">
                  {{ingredient.name}} ({{ingredient.percentage}}%)
                  <br/>
                </span>
              </p> -->
                <div *ngIf="cart" class="d-flex justify-content-center mb-3">
                  <button type="button" class="btn btn-success" (click)="addProductToCart(product)">Dodaj do
                    koszyka</button>
                  <button type="button" class="btn btn-danger btn-sm" *ngIf="productInCart(product)"
                    (click)="removeProductFromCart(product)">Usuń z koszyka</button>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="col-md-4">
      <app-shopping-cart (onCartEmpted)="assignCart($event)"></app-shopping-cart>
    </div>
  </div>
</div>
