<nav class="navbar navbar-expand-sm shadow-sm my-cl">
  <div class="container ">
    <a href="#" class="navbar-brand">
      <img src="assets/logo.png" width="70" alt="" class="d-inline-block align-middle mr-2">
      <span class="text-uppercase font-weight-bold">AutoSklep</span>
    </a>

    <!-- <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
      class="navbar-toggler"><span class="navbar-toggler-icon"></span></button> -->

    <!-- <div id="navbarSupportedContent" class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto">
        <li *ngIf="!loginService.isUserLoggedIn()" class="nav-item active"><a routerLink='login' class="nav-link">Opiniowanie</a></li>    
      </ul>
    </div> -->
  </div>
</nav>


<!-- <div class="top-bar foundation-5-top-bar my-cl">
  <div class="top-bar-title">
    <img src="assets/logo.png" width="60" alt="" class="d-inline-block align-middle mr-2">
    <span class="text-uppercase font-weight-bold">AutoSklep</span>
  </div>
  <div id="responsive-menu">
    
  </div>
</div> -->

